.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 190px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 12px;
    position: relative;

    .messageRow {
        display: flex;

        &:has(.mine) {
            justify-content: flex-end;
        }
    }

    .endMessage {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666668;
    }

    .dateDivider {
        position: sticky;
        z-index: 1;
        top: 0;
        background-color: #fff;
        margin: 0;
        padding: 16px 0;
        color: #666668;
    }

    .leftArrow {
        width: 0;
        height: 0;
        border-right: 14px solid #f2f2f7;
        border-bottom: 12px solid transparent;
    }

    .rightArrow {
        width: 0;
        height: 0;
        border-left: 14px solid #007aff;
        border-bottom: 12px solid transparent;
    }

    .messageBox {
        padding: 8px;
        padding-right: 40px;
        border-radius: 10px;
        border-top-left-radius: 0;
        background-color: #f2f2f7;
        margin-bottom: 8px;
        max-width: 50%;
        min-width: 100px;
        position: relative;
        min-height: 24px;

        display: flex;
        flex-direction: column;

        .messageHeader {
            color: #2c2c2e;
        }

        .messageContent {
            color: #2c2c2e;
        }

        .messageTime {
            font-size: 12px;
            text-align: right;
            color: #666668;
            position: absolute;
            bottom: 2px;
            right: 8px;
        }

        &.mine {
            background-color: #007aff;
            color: #fff;
            margin-left: 0;

            border-top-right-radius: 0;
            border-top-left-radius: 10px;

            .messageHeader,
            .messageContent,
            .messageTime {
                color: #fff;
            }
        }
    }
}
